---
---

@import "{{ site.theme }}";

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Noto Sans', sans-serif;
}

h2, 
.tossface {
  font-family: 'Tossface', sans-serif;
}

h2 {
  padding-bottom: 4px;
}

a {
  &:hover { opacity: 0.75; }
}

code {
  background: none;
  padding: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: 0.85em;
  color: #888;
  font-weight: normal;
}
